@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Raleway:wght@500;600;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.bounce2 {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

body {
    /* font-size: .875rem; */
    line-height: 1.8;
    color: #333;
    letter-spacing: .05rem;
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
}

ul {
    padding: 0;
}

.img-res {
    max-width: 100%;
    height: 100%;
}

.cmn-font {
    font-family: 'Raleway', sans-serif;
}

.cmn-fsize {
    font-size: 3em;
    font-weight: 900;
}

.cmn-color {
    color: #ffb75c;
}

.cmn-color2 {
    color: #3f3e76;
}

.cmn-bg-color {
    background-color: #ffb75c;
}

.cmn-border-color {
    border-color: #ffb75c !important;
}

.cmn-bg-color2 {
    background-color: #3f3e76;
}

.cmn-border-color2 {
    border-color: #3f3e76 !important;
}

.cmn-container {
    max-width: 1140px;
    padding: 1em;
    margin: 0 auto;
}

.cmn-img {
    position: relative;
}

.cmn-img::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.cmn-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
}

.main-nav {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1030;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%)
}

.nav-logo {
    width: 20%;
    position: relative;
}

.nav-logo::before {
    content: "";
    display: block;
    padding-top: 33.25%;
}

.nav-hamburger {
    display: none;
}

.nav-logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

.nav-link li {
    padding: 0 1em;
    list-style: none;
}

.nav-link a {
    color: #010001;
    text-decoration: unset;
}

.nav-link .active {
    color: #3f3e76;
    font-weight: 600;
}

.nav-hamburger .fas {
    padding: 0.5em;
    border: 1px solid #ffb75c;
    border-radius: 50%;
    font-size: 18px;
    color: #ffb75c;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-hamburger .fas:nth-of-type(2) {
    display: none;
}

.toggle-menu .fas:nth-of-type(1) {
    display: none;
}

.toggle-menu .fas:nth-of-type(2) {
    display: flex;
}

.mobile-nav {
    position: fixed;
    width: 100%;
    background: #fff;
    top: -100vh;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 2;
}

.mobile-nav .d-flex {
    flex-direction: column;
}

.mobile-nav .py-4 {
    padding: 0 !important;
}

.mobile-nav .nav-link {
    width: 100%;
    padding: 0;
}

.mobile-nav li {
    padding: 0;
    width: 100%;
}

.mobile-nav a {
    padding: 1em;
    width: 100%;
    display: block;
}

.mobile-nav .active {
    color: #fff;
    background: #ffb75c;
}

.free-assestment {
    position: fixed;
    bottom: 0px;
    right: 25px;
}

.ass-head {
    padding: 1em;
    background: #ff1346;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ass-wrapper a {
    text-decoration: unset;
}

.ass-wrapper h3 {
    font-size: 16px;
    color: #fff;
}

.toggle-nav {
    top: 85px;
}

.footer-item {
    padding: 1em;
    width: calc(100%/3);
}

.footer-item h3 {
    padding-bottom: 1em;
}

.footer-item ul {
    padding: 0;
}

.footer-item li {
    list-style: none;
    padding-bottom: 10px;
}

.footer-item a {
    text-decoration: none;
    color: #676062;
}

.footer-item a span{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.hero-banner .cmn-container {
    min-height: 75vh;
}

.hero-item:nth-of-type(1) {
    width: 60%;
}

.hero-item:nth-of-type(2) {
    padding-left: 1.5em;
    width: 40%;
}

.hero-text h2 {
    font-weight: 900;
    line-height: 0.85;
}

.hero-text h2:nth-of-type(1) {
    font-size: 19vh;
    color: #ffb75c;
}

.hero-text h2:nth-of-type(2) {
    font-size: 8vh;
    color: #3f3e76
}

.hero-text h2:nth-of-type(3) {
    font-size: 16vh;
    color: #3f3e76
}

.hero-btn a {
    text-decoration: unset;
    color: #fff;
    font-weight: 500;
}

.hero-btn a:nth-of-type(2) {
    color: #ffb75c;
}

.why-pimp {
    background: #fbf9f6;
}

.why-item {
    background: #fff;
    margin-bottom: 2.5em;
    width: calc(100%/2 - 20px);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
}

.why-item-title span {
    width: 15%;
}

.why-item-title .why-item-text {
    width: 85%;
}

.why-item-title i {
    color: #fff;
    padding: 0.5em;
    font-size: 25px;
    border-radius: 4px;
}

.why-item-title .fa-thumbs-up {
    background: #fba932;
}

.why-item-title .fa-lightbulb {
    background: #fa5696;
}

.why-item-title .fa-globe-asia {
    background: #0fccce;
}

.why-item-title .fa-envelope-open {
    background: #7b53fe;
}

.why-item-text p {
    color: #676062;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2em;
    font-weight: 500;
    font-size: 13px;
}

.why-item-wrapper a {
    text-decoration: none;
    font-weight: 600;
    margin-top: 2em;
    letter-spacing: 1px;
}

.about-item {
    width: calc(100%/2 - 20px);
}

.about-item blockquote {
    border-left: 7px solid #ffb75c;
}

.about-item blockquote p {
    padding-left: 1em;
    color: #010001;
    font-size: 24px;
    font-weight: 500;
}

.about-item a {
    text-decoration: none;
    font-weight: 600;
    margin-top: 2em;
    letter-spacing: 1px;
}

.about-rewrite {
    background: #fbf9f6;
}

.about-rewrite p {
    font-weight: 600;
}

.about-rewrite a {
    text-decoration: none;
    color: #fff;
}

.service-item {
    width: calc(100%/2 - 20px);
}

.service-item blockquote {
    border-left: 7px solid #ffb75c;
}

.service-item blockquote p {
    padding-left: 1em;
    color: #010001;
    font-size: 18px;
    font-weight: 500;
}

.service-btn a {
    text-decoration: unset;
    color: #fff;
    font-weight: 500;
}

.service-btn a:nth-of-type(2) {
    color: #ffb75c;
}

.service-para .service-item a {
    text-decoration: none;
    font-weight: 600;
    margin-top: 2em;
    letter-spacing: 1px;
}

.contact-banner {
    padding-top: 8em;
    padding-bottom: 8em;
}

.contact-item:nth-of-type(1) {
    width: calc(60%-10px);
}

.contact-item .alert-success {
    background-color: unset;
    border-color: #0f5132;
}

.contact-item .alert-danger {
    background-color: unset;
    border-color: #842029;
}

.contact-item:nth-of-type(2) {
    width: 45%;
}

.contact-us-form .input-wrapper input {
    width: calc(100%/2 - 10px);
}

.contact-us-form .btn {
    color: #fff;
    font-weight: 500;
}

.contact-us-form .form-control:disabled {
    background-color: #ffb75c;
}

.contact-detail-item {
    width: calc(100%/3 - 10px);
}

.contact-detail-item span {
    width: 20%;
}

.contact-detail-item .contact-content {
    width: 80%;
}

.contact-detail-item i {
    color: #fff;
    padding: 0.5em;
    font-size: 25px;
    border-radius: 4px;
}

.contact-detail-item .fa-map-marker-alt {
    background: #fba932;
}

.contact-detail-item .fa-phone-alt {
    background: #fa5696;
}

.contact-detail-item .fa-envelope {
    background: #0fccce;
}

.contact-publicity {
    background: #fbf9f6;
}

.contact-publicity p {
    font-weight: 600;
}

.contact-publicity a {
    text-decoration: none;
    color: #fff;
}

.contact-us-form .btn:focus {
    /* color: #ffb75c;
    border: 1px solid #ffb75c;
    box-shadow: unset; */
    color: #fff;
    background: #ffb75c;
    border: 1px solid #ffb75c;
    box-shadow: unset;
}

@media print,
screen and (max-width: 1024px) {
    .hero-btn button {
        padding: 1em 2em !important;
    }
}

@media print,
screen and (max-width: 768px) {
    .toggle-nav {
        top: 81px;
    }

    .nav-hamburger {
        display: block;
    }

    .main-nav .nav-link{
        display: none;
    }

    .hero-banner .cmn-container {
        padding: 3em 0;
    }

    .hero-banner .d-flex {
        flex-direction: column;
    }

    .hero-banner .vh-100 {
        height: unset !important;
    }

    .hero-item {
        width: 100% !important;
    }

    .hero-text-wrapper {
        text-align: center;
    }

    .hero-item:nth-of-type(2){
        padding: 0;
    }

    .why-pimp .cmn-container{
        padding: 0 3em;
    }

    .why-item {
        width: 100%;
        /* padding: 2em !important; */
    }

    .why-item-text {
        padding-left: 1em;
    }

    .about-para:nth-of-type(1) {
        padding-top: 8em;
    }

    .about-para .vh-100{
        height: unset !important;
    }

    .about-para .d-flex {
        flex-direction: column;
    }

    .about-para:nth-of-type(2) .d-flex {
        flex-direction: column-reverse;
    }

    .about-item {
        width: 100%;
        padding: 0 3em 3em 3em;
    }

    .about-item h2 {
        text-align: center;
    }

    .service-banner {
        padding-top: 8em;
    }

    .service-banner .d-flex {
        flex-direction: column;
    }

    .service-banner .vh-100 {
        height: unset !important;
    }

    .service-banner .service-item {
        text-align: center;
        width: 100%;
        padding: 0 3em;
        padding-bottom: 3em;
    }

    .service-btn {
        text-align: center;
    }

    .service-para {
        padding: 0 3em 3em 3em;
    }

    .service-para .d-flex {
        flex-direction: column;
    }

    .service-para:nth-of-type(even) .d-flex {
        flex-direction: column-reverse;
    }

    .service-item {
        width: 100%;
        padding-bottom: 3em;
    }

    .service-item h2 {
        text-align: center;
    }

    .contact-banner {
        padding-top: 8em;
        padding-bottom: 5em;
    }

    .contact-banner .vh-100 {
        height: unset !important;
    }

    .contact-item h2 {
        font-size: 2em;
    }

    .contact-item:nth-of-type(1) {
        width: calc(100%/2 - 10px);
        padding-left: 2em;
    }

    .contact-detail .d-flex {
        flex-direction: column;
    }

    .contact-detail-item {
        width: 100%;
        padding: 1em;
        flex-direction: row !important;
    }
}

@media print,
screen and (max-width: 425px) {
    .nav-logo {
        width: 31%;
    }

    .toggle-nav {
        top: 70px;
    }

    .free-assestment {
        right: 0;
        left: 0;
    }

    .ass-head {
        text-align: center;
        padding: 1.5em;
    }

    .ass-wrapper {
        animation: unset;
    }

    .hero-text h2:nth-of-type(1) {
        font-size: 17vh;
    }

    .hero-text h2:nth-of-type(2) {
        font-size: 6vh;
        color: #3f3e76;
    }

    .hero-text h2:nth-of-type(3) {
        font-size: 14vh;
        color: #3f3e76;
    }

    .hero-banner {
        padding-top: 5em;
    }

    .hero-item:nth-of-type(2){
        padding: 1em;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
    }

    .hero-btn span {
        margin: 0 0 1em 0 !important;
        display: block;
    }

    .about-para:nth-of-type(1) {
        padding-top: 9em;
    }

    .about-item {
        padding: 0;
    }

    .about-rewrite span {
        width: 100%;
        display: block;
    }

    .why-pimp .cmn-container {
        padding: 0 1em;
    }

    .why-item-title .d-flex {
        flex-direction: column;
    }

    .why-item-title span {
        width: 100%;
        text-align: center;
        padding-bottom: 2em;
    }

    .why-item-text {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .service-banner .service-item {
        padding: 3em 0;
    }

    .service-btn {
        display: flex;
        flex-direction: column;
    }

    .service-btn span {
        margin: 0 0 1em 0 !important;
        width: 100%;
        display: block;
    }

    .service-para {
        padding: 1em;
    }

    .service-para .p-5{
        padding: 0 !important;
    }

    .contact-banner {
        padding-top: 9em;
    }

    .contact-banner .d-flex {
        flex-direction: column;
    }

    .contact-item {
        width: 100% !important;
        padding: 0 !important;
    }

    .contact-item:nth-of-type(2) {
        display: none;
    }

    .contact-item h2 {
        font-size: 2em;
    }

    .contact-us-form .d-flex {
        flex-direction: column;
    }

    .contact-us-form .input-wrapper {
        padding: 0 !important;
    }

    .contact-us-form .input-wrapper input {
        width: 100%;
        margin-bottom: 1em;
    }

    .contact-detail {
        padding: 0 !important;
    }

    .contact-publicity span {
        display: block;
        width: 100%;
    }

    footer .d-flex {
        flex-direction: column;
        text-align: center;
    }

    .footer-item {
        width: 100%;
    }

    .footer-item a span {
        width: 100%;
        display: block;
    }
}